<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electrician Service</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        .container {
            max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
        }

        .hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            /* padding: 40px; */
            border-radius: 8px;
            /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        }

        .hero-text {
            flex: 1;
            margin-right: 40px;
        }

        .hero-text h1 {
            font-size: 3rem;
            color: purple; 
            margin-bottom: 10px;
        }

        .hero-text p {
            font-size: 1.2rem;
            line-height: 1.6;
            color: #333;
        }

        .btn {
            display: inline-block;
            padding: 12px 24px;
            font-size: 1.1rem;
            background-color: purple; 
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: purple; 
        }

        .hero-image {
            flex: 1;
        }

        .hero-image img {
            max-width: 100%; */
    /* height: auto; */
    border-radius: 8px;
    width: 107%;
    height: 45.3rem;
 
        }

        @media screen and (max-width: 768px) {
            .hero {
                flex-direction: column;
            }

            .hero-text {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <section class="hero">
            <div class="hero-text">
                <div style="width: 100px; height: 5px; background-color: #5bc0de;"></div> 
                <h1>ELECTRICIAN<br> <span style="color: #333;
                    font-style: initial;
                    font-family: revert;
                    font-weight: 100;">fast service</span></h1>
                <p>It is not a secret anymore that we are handling various services with regards to electricity. There is no small or big job for us. Every client will be given proper attention.</p>
                <div>
                      <a href="/electricians" class="btn">Electrician</a>
                      <a href="/userHome" class="btn">User</a>
                </div>
              
            </div>
            <div class="hero-image">
                <img src="/photo/ele2.jpg" alt="Electrician"> 
            </div>
        </section>
    </div>
</body>
</html>
